/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #222946;
  --secondary: #53b667;
  --text: #a1a2a4;
}
html {
  font-size: 16px;
}
body {
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.item-align {
  align-items: center;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-30 {
  flex: 0 1 30%;
}
.width-full {
  width: 100%;
}
.padding {
  padding: 2.5rem 0;
}
a {
  text-decoration: none;
}
.font-0 {
  font-size: 0;
}
.btn {
  background-color: var(--secondary);
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  display: inline-block;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #fff !important;
}
.header,
footer {
  background-color: var(--primary);
  padding: 0.6rem 0;
}
.logo {
  width: 100px;
  height: 50px;
  padding: 0.6rem 0;
}
ul li {
  margin-left: 1.5rem;
}
.header a {
  color: white;
  text-transform: uppercase;
}
h1 {
  font-size: 1.8rem;
  font-weight: 600;
}
.para-text {
  color: var(--text);
  font-size: 1rem;
  padding: 10px 0;
}
nav .active {
  color: var(--secondary);
}
/* section1 */
.section1 {
  background-color: #e9ecfc;
}
.gallery-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.text {
  font-size: 1.4rem;
  font-family: 600;
  padding: 0.6rem 0;
}
.btn-1 {
  padding: 0.3rem 1rem;
}
.blog img {
  max-height: 200px;
}
/*footer */
.footer {
  color: var(--text);
  font-size: 1.4rem;
}
footer i {
  margin-left: 0.7rem;
}
/* media */
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .column {
    flex-direction: column;
  }
  .flex {
    flex-wrap: wrap;
  }
  .flex-100 {
    flex: 1 0 100%;
    margin-bottom: 20px;
  }
  .order-1 {
    order: 1;
  }
}
